<div class="row-fluid show-grid">
	<div class="span6">
		<div class="row-fluid show-grid">
			<div class="span2">
				<div class="row-fluid show-grid">
					<div class="span12">
						{{issue.tracker.name}}
					</div>
				</div>
				<div class="row-fluid show-grid">
					<div class="span12">
						{{issue.id}}
					</div>
				</div>
			</div>
			<div class="span8 well well-large">
				{{issue.author.name}}
			</div>
			<div class="span2 well well-large">
					Points
			</div>
		</div>
		<div class="well well-large">
			{{issue.subject}}
		</div>
	</div>
<div class="row-fluid show-grid">
